* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: nazanin;
  src: url(font/BNazanin.woff);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e7f5;
  color: #333;
  font-family: nazanin;
  font-size: 18px;
}

.wallet {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  height: 660px;
  padding: 0px;
  background-color: #fafafa;
  box-shadow: 2px 2px 16px #e1e1e4;
  border-radius: 30px;
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.balance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  height: 160px;
  background-image: linear-gradient(45deg, #f8caff69, #a5a1ce7e);
  box-shadow: 0 4px 16px #f8caff8c;
  border-radius: 20px;
  color: #333;
  font-size: 40px;
}

.balance-title {
  font-size: 1rem;
  color: grey;
}

.crypto-header {
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crypto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  transition: background-color 0.2s;
}
.crypto:hover {
  background-color: rgba(211, 211, 211, 0.5);
}
.crypto:not(:last-child) {
  box-shadow: 0 16px 16px -15px rgba(221, 211, 221, 0.4);
}
.crypto img {
  display: inline-block;
  padding-right: 10px;
  width: 42px;
}
.crypto-icon {
  width: 100px;
}
.crypto-name {
  position: relative;
  display: inline-block;
  top: 9px;
}
.crypto-fullname,
.crypto-symbol {
  display: block;
}
.price {
  width: 70px;
}

.success {
  padding: 1px 8px;
  background: rgba(0, 128, 0, 0.1);
  color: green;
  border-radius: 20px;
}
.warning {
  padding: 1px 8px;
  background: rgba(255, 0, 0, 0.1);
  color: red;
  border-radius: 20px;
}
.crypto .graph {
  display: block;
  width: 80px;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  background-color: rgba(221, 211, 221, 0.8);
}

/*
   instagram: web.script
   telegram: @webxscript
   © 2021 Milad Gharibi. All rights reserved 
*/
