* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary_dark: #0d1117;
  --secondary_dark: #161b22;
  --text-color-dark: #8abbff;
}
@font-face {
  font-family: nazanin;
  src: url(font/BNazanin.woff);
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e7f5;
  color: #333;
  font-family: nazanin;
}
.wallet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  width: 350px;
  height: 650px;
  padding: 0px;
  background-color: #fafafa;
  box-shadow: 2px 2px 16px #e1e1e4;
  border-radius: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px;
  /* border: 1px solid red; */
}
.balance-- {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  height: 160px;
  background-image: linear-gradient(45deg, #f8caff69, #a5a1ce7e);
  border-radius: 20px;
  color: #333;
  font-size: 40px;
  /* background-image: linear-gradient(45deg, #335ca7, #5d43b1); */
}

.balance-title {
  font-size: 1rem;
  color: grey;
}

.crypto-container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  /* align-items: center; */
  /* height: 350px; */
  /* border: 1px solid red; */
}

.crypto {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  padding: 10px 10px;
  /* border-radius: 10px; */
  /* background-color: white; */
  /* box-shadow: 0 0 8px #d7d7d7; */
  /* color: var(--text-color-dark); */
  transition: background-color 0.2s;
  /* border: 1px solid red; */
}
.crypto:hover {
  background-color: rgba(211, 211, 211, 0.5);
}
.crypto:not(:last-child) {
  border-bottom: 1px solid rgb(230, 230, 230);
}
.crypto img {
  display: inline-block;
  padding-right: 10px;
  width: 40px;
}
.crypto-name {
  display: inline-block;
}
.crypto-fullname,
.crypto-symbol {
  display: block;
}
.crypto .graph {
  display: block;
  width: 80px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px;
  background-color: bluegray;
}
